/.idea/.idea.RabbitTest/.idea/.gitignore
/Consumer/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/Publisher/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/Consumer/obj/Debug/net7.0/apphost.exe
/Publisher/obj/Debug/net7.0/apphost.exe
/Consumer/obj/Debug/net7.0/Consumer.AssemblyInfo.cs
/Consumer/obj/Debug/net7.0/Consumer.AssemblyInfoInputs.cache
/Consumer/obj/Debug/net7.0/Consumer.assets.cache
/Consumer/Consumer.csproj
/Consumer/obj/Debug/net7.0/Consumer.csproj.AssemblyReference.cache
/Consumer/obj/Debug/net7.0/Consumer.csproj.CopyComplete
/Consumer/obj/Debug/net7.0/Consumer.csproj.CoreCompileInputs.cache
/Consumer/obj/Debug/net7.0/Consumer.csproj.FileListAbsolute.txt
/Consumer/obj/Consumer.csproj.nuget.dgspec.json
/Consumer/obj/Consumer.csproj.nuget.g.props
/Consumer/obj/Consumer.csproj.nuget.g.targets
/Consumer/bin/Debug/net7.0/Consumer.deps.json
/Consumer/bin/Debug/net7.0/Consumer.dll
/Consumer/obj/Debug/net7.0/ref/Consumer.dll
/Consumer/obj/Debug/net7.0/refint/Consumer.dll
/Consumer/obj/Debug/net7.0/Consumer.dll
/Consumer/bin/Debug/net7.0/Consumer.exe
/Consumer/obj/Debug/net7.0/Consumer.GeneratedMSBuildEditorConfig.editorconfig
/Consumer/obj/Debug/net7.0/Consumer.genruntimeconfig.cache
/Consumer/obj/Debug/net7.0/Consumer.GlobalUsings.g.cs
/Consumer/bin/Debug/net7.0/Consumer.pdb
/Consumer/obj/Debug/net7.0/Consumer.pdb
/Consumer/bin/Debug/net7.0/Consumer.runtimeconfig.json
/.idea/.idea.RabbitTest/.idea/encodings.xml
/.idea/.idea.RabbitTest/.idea/indexLayout.xml
/Consumer/Program.cs
/Publisher/Program.cs
/Consumer/obj/project.assets.json
/Publisher/obj/project.assets.json
/Consumer/obj/project.nuget.cache
/Publisher/obj/project.nuget.cache
/Consumer/obj/project.packagespec.json
/Publisher/obj/project.packagespec.json
/Publisher/obj/Debug/net7.0/Publisher.AssemblyInfo.cs
/Publisher/obj/Debug/net7.0/Publisher.AssemblyInfoInputs.cache
/Publisher/obj/Debug/net7.0/Publisher.assets.cache
/Publisher/Publisher.csproj
/Publisher/obj/Debug/net7.0/Publisher.csproj.AssemblyReference.cache
/Publisher/obj/Debug/net7.0/Publisher.csproj.CopyComplete
/Publisher/obj/Debug/net7.0/Publisher.csproj.CoreCompileInputs.cache
/Publisher/obj/Debug/net7.0/Publisher.csproj.FileListAbsolute.txt
/Publisher/obj/Publisher.csproj.nuget.dgspec.json
/Publisher/obj/Publisher.csproj.nuget.g.props
/Publisher/obj/Publisher.csproj.nuget.g.targets
/Publisher/bin/Debug/net7.0/Publisher.deps.json
/Publisher/bin/Debug/net7.0/Publisher.dll
/Publisher/obj/Debug/net7.0/ref/Publisher.dll
/Publisher/obj/Debug/net7.0/refint/Publisher.dll
/Publisher/obj/Debug/net7.0/Publisher.dll
/Publisher/bin/Debug/net7.0/Publisher.exe
/Publisher/obj/Debug/net7.0/Publisher.GeneratedMSBuildEditorConfig.editorconfig
/Publisher/obj/Debug/net7.0/Publisher.genruntimeconfig.cache
/Publisher/obj/Debug/net7.0/Publisher.GlobalUsings.g.cs
/Publisher/bin/Debug/net7.0/Publisher.pdb
/Publisher/obj/Debug/net7.0/Publisher.pdb
/Publisher/bin/Debug/net7.0/Publisher.runtimeconfig.json
/Consumer/bin/Debug/net7.0/RabbitMQ.Client.dll
/Publisher/bin/Debug/net7.0/RabbitMQ.Client.dll
/Consumer/RabbitMqConsumer.cs
/Publisher/RabbitMqPublisher.cs
/RabbitTest.sln
/Consumer/obj/rider.project.restore.info
/Publisher/obj/rider.project.restore.info
